// $body-bg: #fff;
$body-bg: #F6F9ED;
$body-color: #050505;
$body-light-color: #9a9a9a;


// $font-family-sans-serif: 'Prompt', sans-serif;
$font-family-sans-serif: 'Sarabun', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
// $orange: #f6993f;
$orange: #EC773D;
$gold: #aa800e;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// $primary: #f0b265;
// $primary: #b3a583;
$primary: #A3BA45;
$light: #ebebeb;
$danger: #ce3249;

$facebook-bg: #3b5998;
$google-bg: #1a73e8;
$apple-bg: #000;

// $border-radius: 15px;
$border-radius: 8px;
// $btn-radius: 15px;
// $input-radius: 15px;

$border-color: #e9ebee;